.submitButton {
  color: #ffbade;
  border: none;
  background-color: #ffffff;
  text-align: center;
  font-size: 2.7vw;
  position: absolute;
  top: 55vh;
  bottom: 14.5vh;
  right: 3vw;
  width: 24vw;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  border-radius: 20px;
}
.submitButton:hover {
  background-color: #e996c1;
}
.textBox {
  color: white;
  background-color: #ffbade;
  position: absolute;
  top: 19vh;
  left: 3vw;
  width: 58vw;
  overflow-y: auto;
  height: 48vh;
  cursor: text;
  font-size: 3.5vh;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  border: white;
  border-width: thick;
  border-radius: 6vh;
  border-style: solid;
  padding: 2vh 1.5vw;
}

.public-DraftEditorPlaceholder-root {
  color: white !important;
}
