.submitButton {
  color: white;
  border: none;
  background-color: #ffbade;
  text-align: center;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 20px;
}
.textBox {
  color: white;
  border: none;
  background-color: #ffbade;
  width: 800px;
  height: 200px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  border-radius: 30px;
  padding: 12px 16px;
}

.public-DraftEditorPlaceholder-root {
  color: white !important;
}
