/* TODO prettify Feed page */

.friendsDreamsContainer {
  position: absolute;
  top: 2vh;
  width: 60vw;
  overflow-x: auto;
  overflow-y: auto;
  right: 2vh;
  bottom: 4vh;
  height: 76vh;
}

.friendsContainerBorder {
  position: absolute;
  top: 11vh;
  width: 62vw;
  right: 2vw;
  bottom: 3vh;
  height: 86vh;
  border-radius: 6vh;
  background-color: #ffd5cf;
}

.friendsSectionContainer {
  position: absolute;
  top: 11vh;
  width: 32vw;
  right: 66vw;
  bottom: 3vh;
  height: 86vh;
  border-radius: 6vh;
  background-color: #ffd5cf;
}

.findFriendsLabel {
  position: absolute;
  top: 1.8vh;
  padding-bottom: 1vh;
  width: 28vw;
  left: 1.8vw;
  height: 8vh;
  padding-top: 1vh;
  right: 9vw;
  border: solid 0.5vh;
  font-size: 4vh;
  border-radius: 4vh;
  text-align: center;
  border-color: white;
  background-color: #ffd5cf;
  color: white;
  cursor: pointer;
}

.myFriendsLabel {
  position: absolute;
  top: 12vh;
  width: 14vw;
  left: 9vw;
  height: 7vh;
  padding-top: 1vh;
  right: 9vw;
  font-size: 4vh;
  border-radius: 4vh;
  text-align: center;
  background-color: white;
  color: #ffd5cf;
}

.incomingRequestsLabel {
  position: absolute;
  top: 44vh;
  width: 22vw;
  left: 5vw;
  height: 7vh;
  padding-top: 1vh;
  right: 5vw;
  font-size: 4vh;
  border-radius: 4vh;
  text-align: center;
  background-color: white;
  color: #ffd5cf;
}

.outgoingRequestsLabel {
  position: absolute;
  top: 65vh;
  width: 22vw;
  left: 5vw;
  height: 7vh;
  padding-top: 1vh;
  right: 5vw;
  font-size: 4vh;
  border-radius: 4vh;
  text-align: center;
  background-color: white;
  color: #ffd5cf;
}

.myFriendsArea {
  position: absolute;
  top: 20vh;
  width: 30vw;
  left: 3vw;
  height: 21vh;
  padding-top: 1vh;
  right: 9vw;
  font-size: 3vh;
  overflow-x: auto;
  overflow-y: auto;
}

.incomingRequestsArea {
  position: absolute;
  top: 52vh;
  width: 30vw;
  left: 3vw;
  height: 10vh;
  padding-top: 1vh;
  right: 9vw;
  font-size: 2vh;
  overflow-y: auto;
}

.outgoingRequestsArea {
  position: absolute;
  top: 74vh;
  width: 30vw;
  left: 3vw;
  height: 10vh;
  padding-top: 1vh;
  right: 9vw;
  font-size: 2vh;
  overflow-y: auto;
}

.makeFriendsBox {
  z-index: 100;
  position: absolute;
  top: 10vh;
  padding-bottom: 1vh;
  width: 28vw;
  left: 1.8vw;
  overflow-y: auto;
  overflow-x: auto;
  height: 70vh;
  padding-top: 1vh;
  right: 9vw;
  border: solid 0.5vh;
  font-size: 4vh;
  border-radius: 4vh;
  text-align: center;
  border-color: white;
  background-color: #ea9a8f;
  color: white;
}
