* {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  padding: 0;
}

.writeQuad {
  left: 0;
  position: absolute;
  top: 0;
  text-align: left;
  padding-left: 10.002vw;
  vertical-align: middle;
  line-height: 40vh;
  height: 50vh;
  font-size: 35px;
  width: 40vw;
  background-color: #ffbade;
  color: #d271a4;
  text-decoration: none;
}

.profileQuad {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 35px;
  vertical-align: middle;
  padding-right: 10vw;
  line-height: 40vh;
  height: 50vh;
  width: 40vw;
  background-color: #ffc7d7;
  color: #e4829e;
  text-decoration: none;
}

.dreamsQuad {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 35px;
  text-align: left;
  padding-left: 10.002vw;
  vertical-align: middle;
  line-height: 60vh;
  height: 50vh;
  width: 40vw;
  background-color: #ffe3c8;
  color: #e8b37f;
  text-decoration: none;
}

.feedQuad {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  vertical-align: middle;
  font-size: 35px;
  padding-right: 10vw;
  line-height: 60vh;
  height: 50vh;
  width: 40vw;
  background-color: #ffd5cf;
  color: #ea9a8f;
  text-decoration: none;
}

/* TODO: not great w adjusting window */
.logout {
  border: none;
  font-size: 25px;
  position: absolute;
  top: 70%;
  color: #ffb6c1;
  text-align: center;
  background-color: white;
  padding-left: 14vw;
}

.hello {
  position: absolute;
  top: 15%;
  left: 20%;
  right: 20%;
  font-size: 25px;
  text-align: center;
  color: #ffb6c1;
}

.centerCircle {
  background-color: white;
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 30%;
  right: 30%;
  padding: 30px;
  border-radius: 100px;
}

.centerText {
  color: #ffb6c1;
  text-align: center;
  font-size: 60px;
  position: absolute;
  top: 32%;
  bottom: 45%;
  left: 10%;
  right: 10%;
}
