* {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  padding: 0;
}

@keyframes slideFromLeft {
  from {
    margin-left: -100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideFromLeftAlt {
  0% {
    margin-left: -100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.writeQuad {
  left: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  text-align: left;
  padding-left: 6vw;
  line-height: 25vh;
  height: 25vh;
  width: 94vw;
  background-color: #ffbade;
  color: #d271a4;
  text-decoration: none;
  cursor: pointer;
}

.writeQuadText {
  left: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  text-align: left;
  padding-left: 6vw;
  line-height: 25vh;
  height: 25vh;
  font-size: 12vh;
  width: 94vw;
  background-color: #ffbade;
  color: #d271a4;
  text-decoration: none;
  animation: slideFromLeft 1.3s;
  cursor: pointer;
}
.writeQuadText:hover {
  animation: slideFromLeftAlt 1.3s;
}

.profileQuad {
  left: 0;
  position: absolute;
  z-index: 0;
  top: 25vh;
  text-align: left;
  padding-left: 6vw;
  line-height: 25vh;
  height: 25vh;
  width: 94vw;
  background-color: #ffc7d7;
  color: #e4829e;
  text-decoration: none;
  cursor: pointer;
}
.profileQuadText:hover {
  animation: slideFromLeftAlt 1.6s;
}

.profileQuadText {
  left: 0;
  position: absolute;
  z-index: 0;
  top: 25vh;
  text-align: left;
  padding-left: 6vw;
  line-height: 25vh;
  height: 25vh;
  font-size: 12vh;
  width: 94vw;
  cursor: pointer;
  background-color: #ffc7d7;
  color: #e4829e;
  text-decoration: none;
  animation: slideFromLeft 1.6s;
}

.dreamsQuad {
  left: 0;
  position: absolute;
  top: 75vh;
  z-index: 0;
  text-align: left;
  padding-left: 6vw;
  cursor: pointer;
  line-height: 25vh;
  height: 25vh;
  font-size: 12vh;
  width: 94vw;
  background-color: #ffe3c8;
  color: #e8b37f;
  text-decoration: none;
}

.dreamsQuadText:hover {
  animation: slideFromLeftAlt 2.2s;
}
.dreamsQuadText {
  left: 0;
  position: absolute;
  top: 75vh;
  z-index: 0;
  text-align: left;
  padding-left: 6vw;
  line-height: 25vh;
  cursor: pointer;
  height: 25vh;
  font-size: 12vh;
  width: 94vw;
  background-color: #ffe3c8;
  color: #e8b37f;
  text-decoration: none;
  animation: slideFromLeft 2.2s;
}

.feedQuad {
  left: 0;
  position: absolute;
  top: 50vh;
  text-align: left;
  padding-left: 6vw;
  cursor: pointer;
  line-height: 25vh;
  height: 25vh;
  font-size: 12vh;
  width: 94vw;
  z-index: 0;
  background-color: #ffd5cf;
  color: #ea9a8f;
  text-decoration: none;
}

.feedQuadText {
  left: 0;
  position: absolute;
  top: 50vh;
  text-align: left;
  padding-left: 6vw;
  line-height: 25vh;
  height: 25vh;
  font-size: 12vh;
  width: 94vw;
  cursor: pointer;
  z-index: 0;
  background-color: #ffd5cf;
  color: #ea9a8f;
  text-decoration: none;
  animation: slideFromLeft 1.9s;
}
.feedQuadText:hover {
  animation: slideFromLeftAlt 1.9s;
}

/* TODO: not perfectly center */
.logout {
  border: none;
  font-size: 5vh;
  position: absolute;
  cursor: pointer;
  top: 59vh;
  right: 3vw;
  color: #ffb6c1;
  text-align: center;
  background-color: white;
}

.hello {
  position: absolute;
  top: -5vh;
  right: 3vw;
  font-size: 5vh;
  text-align: center;
  z-index: 2;
  color: #ffb6c1;
}

.helloName {
  position: absolute;
  top: 1vh;
  right: 3vw;
  font-size: 5vh;
  text-align: center;
  z-index: 2;
  color: #ffb6c1;
}

.centerCircle {
  background-color: white;
  position: absolute;
  top: 20vh;
  bottom: 20vh;
  z-index: 1;
  width: 35vw;
  right: 0vw;
  border-radius: 40vw 0vw 0vw 40vw;
}

.circle0 {
  background-color: white;
  position: absolute;
  top: 9vh;
  height: 40vh;
  width: 10vw;
  right: 0vw;
  border-radius: 10vw 0vw 0vw 10vw;
}
.circle1 {
  background-color: white;
  position: absolute;
  top: 3vh;
  height: 40vh;
  width: 20vw;
  right: 4vw;
  border-radius: 10vw 10vw 10vw 10vw;
}
.circle2 {
  background-color: white;
  position: absolute;
  top: 12vh;
  height: 34vh;
  width: 17vw;
  right: 16vw;
  border-radius: 20vw 20vw 20vw 20vw;
}
.circle3 {
  background-color: white;
  position: absolute;
  top: 32vh;
  height: 37vh;
  width: 20vw;
  right: 19.5vw;
  border-radius: 30vw 30vw 30vw 30vw;
}
.circle4 {
  background-color: white;
  position: absolute;
  bottom: 12vh;
  height: 30vh;
  width: 16vw;
  right: 18vw;
  border-radius: 20vw 20vw 20vw 20vw;
}
.circle5 {
  background-color: white;
  position: absolute;
  bottom: 6vh;
  height: 40vh;
  width: 20vw;
  right: 6vw;
  border-radius: 10vw 10vw 10vw 10vw;
}
.circle6 {
  background-color: white;
  position: absolute;
  bottom: 10vh;
  height: 30vh;
  width: 11vw;
  right: 0vw;
  border-radius: 10vw 10vw 10vw 10vw;
}
.centerText {
  color: #ffb6c1;
  text-align: right;
  font-size: 12vh;
  position: absolute;
  vertical-align: middle;
  top: 20vh;
  bottom: 32vh;
  right: 3vw;
}

.notif {
  position: absolute;
  z-index: 100;
  right: 23vw;
  top: -1vh;
  cursor: pointer;
  background-image: url("notifButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 7vh;
  width: 5vw;
  border: none;
  background-color: white;
}

.about {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  right: 24vw;
  border: none;
  background-color: white;
  bottom: -1vh;
  background-image: url("aboutButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 7vh;
  width: 5vw;
}
