/* Fill me in :) */

* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}
.title {
  color: white;
  border: none;
  text-align: center;
  font-size: 70px;
  position: relative;
  top: 200px;
}

.landingPage {
  color: white;
  border: none;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #ffbade 0%, #ffefc0 100%);
  text-align: center;
  font-size: 50px;
}

/* TODO: how to make changes on google button??*/
.login {
  position: relative;
  top: 170px;
  color: #ffd5cf !important;
  border: none;
  background-color: white !important;
  padding: 5px 18px !important;
  font-size: 16px !important;
  border-radius: 35px !important;
}

.subtext {
  color: white;
  border: none;
  text-align: center;
  font-size: 35px;
  position: relative;
  top: 180px;
  font-size: 21px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  animation: typing 10s steps(100, end), blink 0.25s step-end infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
