/* TODO prettify Profile  page */
.profileContainer {
  position: absolute;
  top: 11vh;
  bottom: 3vh;
  left: 3vw;
  right: 3vw;
  background-color: #ffc7d7;
  border-radius: 4vw;
}

.profileTitle {
  position: absolute;
  top: 6vh;
  right: 4vw;
  background-color: #ffc7d7;
  border-radius: 4vw;
  font-size: 8vh;
  color: #e4829e;
}

.profileName {
  position: absolute;
  top: 16vh;
  right: 4vw;
  background-color: #ffc7d7;
  border-radius: 4vw;
  font-size: 5vh;
  color: #e4829e;
}

.defaultAvatar {
  position: absolute;
  left: 6vw;
  top: 10vh;
  /* background-image: url("profileBlankAvatar.png");
  background-size: contain;
  background-repeat: no-repeat; */
  background-color: transparent;
  height: 402px;
  width: 360px;
  z-index: 69;
  border: none;
  cursor: pointer;
}

.profileBackground {
  position: absolute;
  z-index: -1;
  background-color: #f2a5bb;
  height: 100vh;
  width: 100vw;
}

.achievementsContainer {
  border: none;
  position: absolute;
  top: 26vh;
  right: 3vw;
  height: 52vh;
  width: 52vw;
  border-radius: 5vh;
}

.incompleteAchievement {
  float: left;
  top: 0vh;
  height: 14vh;
  text-align: center;
  width: 10vw;
  font-size: 3vh;
  border-radius: 5vh;
  border: solid;
  padding: 0.5vh 0.5vw;
  border-color: #ffc7d7;
  border-top-width: 1vh;
  border-bottom-width: 1vh;
  border-right-width: 1vw;
  border-left-width: 1vw;
  background-color: #eedfeb;
  color: #b9a9b6;
}

.incompleteAchievement:hover .achievementDescription {
  opacity: 1;
}

.unknownPrize {
  font-size: 7vh;
  z-index: 8;
}

.achievementDescription {
  z-index: 10;
  position: absolute;
  background-color: #eedfeb;
  height: 10vh;
  padding-top: 2.5vh;
  opacity: 0;
  width: 10vw;
  cursor: default;
  border-radius: 2vh;
  top: 1vh;
}

.completeAchievement {
  float: left;
  top: 0vh;
  height: 14vh;
  text-align: center;
  width: 10vw;
  font-size: 3vh;
  border-radius: 5vh;
  border: solid;
  padding: 0.5vh 0.5vw;
  border-color: #ffc7d7;
  border-top-width: 1vh;
  border-bottom-width: 1vh;
  border-right-width: 1vw;
  border-left-width: 1vw;
  background-color: #f2a5bb;
  color: #e4829e;
}

.completeAchievement:hover .completeAchievementDescription {
  opacity: 1;
}

.knownPrize {
  font-size: 7vh;
  z-index: 8;
}

.completeAchievementDescription {
  z-index: 10;
  position: absolute;
  background-color: #f2a5bb;
  height: 10vh;
  padding-top: 2.5vh;
  opacity: 0;
  width: 10vw;
  border-radius: 2vh;
  top: 11vh;
  cursor: default;
}

.achievementDescriptionContainer {
  position: relative;
  top: -100%;
  left: 0%;
}
