/* TODO prettify Profile  page */
.profileContainer {
  position: absolute;
  top: 11vh;
  bottom: 3vh;
  left: 3vw;
  right: 3vw;
  background-color: #ffc7d7;
  border-radius: 4vw;
}

.profileTitle {
  position: absolute;
  top: 6vh;
  right: 4vw;
  background-color: #ffc7d7;
  border-radius: 4vw;
  font-size: 8vh;
  color: #e4829e;
}

.profileName {
  position: absolute;
  top: 16vh;
  right: 4vw;
  background-color: #ffc7d7;
  border-radius: 4vw;
  font-size: 5vh;
  color: #e4829e;
}

.defaultAvatar {
  position: absolute;
  left: 10vw;
  top: 10vh;
  background-image: url("profileBlankAvatar.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 402px;
  width: 360px;
  border: none;
  background-color: white;
}

.profileBackground {
  position: absolute;
  z-index: -1;
  background-color: #f2a5bb;
  height: 100vh;
  width: 100vw;
}
