.exitTutorial {
  background-color: white;
  color: #ffb6c1;
  font-size: 5vh;
  position: absolute;
  top: 1.4vh;
  left: 1vw;
  text-decoration: none;
}

.tutorialContainer {
  border: solid;
  border-width: thick;
  border-color: #ffb6c1;
  position: absolute;
  top: 12vh;
  bottom: 12vh;
  left: 7vw;
  right: 7vw;
  border-radius: 10vh;
}

.previousPage {
  position: absolute;
  bottom: 2vh;
  border: none;
  color: #ffb6c1;
  height: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  padding-left: 2vw;
  background-color: transparent;
  padding-right: 2vw;
  cursor: pointer;
  width: 8vw;
  font-size: 4vh;
  left: 1vw;
}

.nextPage {
  position: absolute;
  bottom: 2vh;
  border: none;
  color: #ffb6c1;
  height: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  padding-left: 2vw;
  background-color: transparent;
  padding-right: 2vw;
  cursor: pointer;
  width: 8vw;
  font-size: 4vh;
  right: 1vw;
}

.tutorialIntro {
  font-size: 10vh;
  position: absolute;
  top: 2vh;
  left: 2vw;
  right: 2vw;
  color: #ffb6c1;
}

.gifContainer {
  position: absolute;
  top: 15vh;
  left: 4vw;
  height: 45vh;
  width: 42vw;
  right: 2vw;
}

.tutorialTitle {
  font-size: 6vh;
  position: absolute;
  top: 3vh;
  left: 4vw;
  right: 2vw;
  color: #ffb6c1;
}

.tutorialContent {
  position: absolute;
  top: 14vh;
  left: 49vw;
  color: #ffb6c1;
  font-size: 3vh;
  height: 45vh;
  width: 33vw;
  right: 2vw;
}

/* background-image: url("../../public/gifs/write.gif"); */

.gifWrite {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-image: url("https://i.imgur.com/hWVaFWL.gif");
  background-repeat: no-repeat;
}

.gifProfile {
  height: 100%;
  width: 100%;
  background-image: url("https://i.imgur.com/DqnRq5Q.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.gifFeed {
  height: 100%;
  width: 100%;
  background-image: url("https://i.imgur.com/tKBfG3D.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.gifDreams {
  height: 100%;
  width: 100%;
  background-image: url("https://i.imgur.com/DIJDmdv.gif");
  background-size: contain;
  background-repeat: no-repeat;
}
