.writing {
  background-color: #ffbade;
  position: absolute;
  top: 11vh;
  bottom: 3vh;
  height: 82 vh;
  left: 4vw;
  right: 4vw;
  border-radius: 6vh;
}

.writeTitle {
  background-color: white;
  color: #ffbade;
  position: absolute;
  top: 3vh;
  height: 12vh;
  left: 3vw;
  right: 3vw;
  border-radius: 10vh;
}

.greeting {
  position: absolute;
  top: 2.5vh;
  left: 2vw;
  font-size: 5vh;
}

.currentDate {
  position: absolute;
  top: 2.5vh;
  right: 2vw;
  font-size: 5vh;
}

.italic {
  position: absolute;
  color: white;
  right: 20vw;
  top: 20vh;
}

.underline {
  position: absolute;
  color: white;
  right: 5vw;
  top: 20vh;
}

.key1 {
  position: absolute;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #ffbade;
  background-color: white;
  right: 22vw;
  top: 24vh;
  width: 5vw;
  border-radius: 4vh;
}
.key2 {
  position: absolute;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #ffbade;
  background-color: white;
  right: 17vw;
  top: 24vh;
  width: 3vw;
  border-radius: 4vh;
}
.key3 {
  position: absolute;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #ffbade;
  background-color: white;
  right: 8vw;
  top: 24vh;
  width: 5vw;
  border-radius: 4vh;
}
.key4 {
  position: absolute;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #ffbade;
  background-color: white;
  right: 3vw;
  top: 24vh;
  width: 3vw;
  border-radius: 4vh;
}

.plus1 {
  position: absolute;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: white;
  right: 19.5vw;
  top: 24vh;
  width: 3vw;
}

.plus2 {
  position: absolute;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: white;
  right: 5.5vw;
  top: 24vh;
  width: 3vw;
}

.toggleContainer {
  position: absolute;
  top: 38vh;
  border: none;
  right: 7vw;
  background-color: white;
  width: 16vw;
  height: 10vh;
  cursor: pointer;
  border-radius: 10vh;
}

.publicCircle {
  position: absolute;
  right: 0.3vw;
  background-color: #ffbade;
  top: 0.3vh;
  height: 9.4vh;
  width: 5vw;
  border-radius: 5vh;
}

.publicText {
  position: absolute;
  left: 3vw;
  background-color: transparent;
  color: #ffbade;
  top: 2vh;
  font-size: 4vh;
  width: 5vw;
  border-radius: 5vh;
}

.privateCircle {
  position: absolute;
  left: 0.3vw;
  background-color: #ffbade;
  top: 0.3vh;
  height: 9.4vh;
  width: 5vw;
  border-radius: 5vh;
}

.privateText {
  position: absolute;
  right: 3vw;
  background-color: transparent;
  color: #ffbade;
  top: 2vh;
  font-size: 4vh;
  width: 5vw;
  border-radius: 5vh;
}

.writeBackground {
  position: absolute;
  z-index: -1;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #e996c1;
  height: 100vh;
  width: 100vw;
}
