.aboutContainerLanding {
  border: none;
  text-align: center;
  position: relative;
  color: #ffd5cf;
  background-color: white;
  top: 24vh;
  font-size: 1.5vw;
  width: 45vw;
  height: 20vh;
  padding: 1vw;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  border-radius: 3vw;
  word-wrap: break-word;
}
