.editTagContainer {
  position: absolute;
  top: 87.5vh;
  left: 7vw;
  width: 92vw;
  height: 7vh;
}

.addTagContainer {
  position: absolute;
  top: 0vh;
  left: 4vw;
  height: 5vh;
  width: 18vw;
  background-color: white;
  padding-left: 1vw;
  border-radius: 4vh;
}

.addTagSearch {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 5vh;
  padding-left: 1vw;
  width: 12.5vw;
  color: white;
  color: #ffbade;
  font-size: 3vh;
  border: none;
  border-radius: 4vh;
}

.addTagSearch:focus {
  outline: #ffbade;
}

.addTagButton {
  position: absolute;
  top: 0vh;
  left: 14vw;
  border: solid;
  border-color: white;
  width: 8vw;
  height: 5vh;
  color: white;
  background-color: #ffbade;
  border-radius: 4vh;
  cursor: pointer;
}
.addTagButton:hover {
  background-color: #e996c1;
}

.addedTagsLabel {
  position: absolute;
  top: -1vh;
  left: 26.5vw;
  font-size: 2.5vh;
  width: 9vw;
  height: 11vh;
  overflow-x: auto;
  overflow-y: auto;
  color: white;
}

::placeholder {
  color: #ffbade;
}

.addedTagsContainer {
  position: absolute;
  border: none;
  border: none;
  overflow-x: auto;
  top: -1vh;
  left: 36vw;
  height: 8vh;
  font-size: 3vh;
  width: 22vw;
}

.previousTagsLabel {
  position: absolute;
  top: -1vh;
  left: 58vw;
  font-size: 2.5vh;
  width: 9vw;
  height: 11vh;
  overflow-x: auto;
  overflow-y: auto;
  color: white;
}

.previousTagsContainer {
  position: absolute;
  border: none;
  overflow-x: auto;
  left: 67vw;
  top: -1vh;
  height: 8vh;
  font-size: 3vh;
  width: 22vw;
}

.aboutTags {
  position: absolute;
  background-color: white;
  top: 87vh;
  left: 7vw;
  height: 2.8vw;
  padding-top: 0.2vw;
  width: 3vw;
  text-align: center;
  color: #ffbade;
  font-size: 2vw;
  border-radius: 3vw;
  border: none;
  cursor: pointer;
  z-index: 5;
}

.aboutTags:hover {
  background-color: #e996c1;
}

.aboutTagsBox {
  background-color: white;
  position: absolute;
  left: 7vw;
  padding: 3vh;
  width: 25vw;
  border-radius: 3vh;
  top: 52vh;
  height: 26vh;
}

.aboutTagQuestion1 {
  z-index: 7;
  color: #d271a4;
  position: absolute;
  top: 2vh;
  left: 1vw;
}
.aboutTagAnswer1 {
  z-index: 7;
  color: #ffbade;
  position: absolute;
  top: 5vh;
  left: 1vw;
}
.aboutTagQuestion2 {
  z-index: 7;
  color: #d271a4;
  position: absolute;
  top: 13vh;
  left: 1vw;
}
.aboutTagAnswer2 {
  z-index: 7;
  color: #ffbade;
  position: absolute;
  top: 16vh;
  left: 1vw;
}
