.outgoingRequestsBox {
  position: relative;
  width: 28vw;
  text-decoration: none !important;
  overflow-x: hidden;
  height: 5vh;
}

.outgoingRequestName {
  position: absolute;
  left: 0vw;
  text-decoration: none;
  color: white;
  overflow-x: auto;
  overflow-y: auto;
  width: 15vw;
  font-size: 3vh;
}
.outgoingRequestName:hover {
  color: #ea9a8f;
}
.cancelRequest {
  position: relative;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  left: 78%;
  padding-top: 0.5vh;
}
.cancelRequest:hover {
  color: #ea9a8f;
}
