.editAvatarContainer {
  background-color: #e4829e;
  position: absolute;
  color: white;
  top: 3vh;
  right: 1.5vw;
  height: 70vh;
  width: 53vw;
  padding: 5vh;
  z-index: 100;
  border-radius: 5vh;
}

.editSkinContainer {
  position: absolute;
  color: white;
  top: 7vh;
  right: 2vw;
  padding-left: 2vw;
  height: 10vh;
  width: 52vw;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 102;
  border-radius: 5vh;
  font-size: 4vh;
}

.editFeatureSubcontainer {
  position: absolute;
  color: white;
  top: 0.4vh;
  right: 0vw;
  height: 10vh;
  width: 40vw;
  background-color: transparent;
  z-index: 102;
  border-radius: 5vh;
  font-size: 4vh;
}

.skinColorPicker-blank {
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 5.9vh;
  background-image: url("default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.skinColorPicker-1 {
  float: left;
  height: 6vh;
  width: 6vh;
  cursor: pointer;
  background-color: #f0c9b5;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}
.white-highlight-skin-1 {
  float: left;
  height: 5.5vh;
  cursor: pointer;
  width: 5.5vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-skin-2 {
  float: left;
  height: 5.5vh;
  width: 5.5vh;
  cursor: pointer;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-skin-3 {
  float: left;
  height: 5.5vh;
  width: 5.5vh;
  cursor: pointer;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-skin-4 {
  float: left;
  cursor: pointer;
  height: 5.5vh;
  width: 5.5vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-skin-5 {
  float: left;
  height: 5.5vh;
  cursor: pointer;
  width: 5.5vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-skin-blank {
  float: left;
  height: 5.4vh;
  width: 5.4vh;
  cursor: pointer;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairColor-blank {
  float: left;
  height: 5.4vh;
  width: 5.4vh;
  cursor: pointer;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairColor-black {
  float: left;
  position: relative;
  right: 0.1vh;
  height: 5.4vh;
  width: 5.4vh;
  cursor: pointer;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairColor-blonde {
  float: left;
  height: 5.4vh;
  cursor: pointer;
  width: 5.4vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairColor-brown {
  float: left;
  height: 5.4vh;
  cursor: pointer;
  width: 5.4vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairColor-ginger {
  float: left;
  height: 5.4vh;
  width: 5.4vh;
  background-color: transparent;
  border: solid;
  cursor: pointer;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairType-medium {
  position: relative;
  right: 0.8vh;
  float: left;
  height: 6vh;
  width: 6vh;
  cursor: pointer;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairType-long-curly {
  position: relative;
  right: 0.8vh;
  float: left;
  cursor: pointer;
  height: 6vh;
  width: 6vh;
  z-index: 5000;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairType-medium-curly {
  position: relative;
  right: 0.8vh;
  float: left;
  cursor: pointer;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairType-long {
  position: relative;
  right: 0.8vh;
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairType-short {
  position: relative;
  right: 0.8vh;
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairType-short-curly {
  position: relative;
  right: 0.8vh;
  float: left;
  cursor: pointer;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-hairType-blank {
  float: left;
  height: 5.4vh;
  width: 5.4vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  cursor: pointer;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.skinColorPicker-2 {
  float: left;
  height: 6vh;
  width: 6vh;
  background-color: #c7a589;
  border: none;
  cursor: pointer;
  border-radius: 3vh;
  margin-right: 10px;
}

.skinColorPicker-3 {
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 6vh;
  background-color: #b68c71;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.skinColorPicker-4 {
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 6vh;
  background-color: #956c56;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.skinColorPicker-5 {
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 6vh;
  background-color: #795644;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.editHairColorContainer {
  position: absolute;
  color: white;
  top: 17vh;
  right: 2vw;
  padding-left: 2vw;
  height: 10vh;
  width: 52vw;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 102;
  border-radius: 5vh;
  font-size: 4vh;
}

.hairColorPicker-blank {
  float: left;
  height: 6vh;
  width: 6vh;
  cursor: pointer;
  background-image: url("default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  border-radius: 3vh;
  margin-right: 10px;
}

.hairColorPicker-black {
  float: left;
  height: 6vh;
  width: 6vh;
  cursor: pointer;
  background-color: black;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.hairColorPicker-brown {
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 6vh;
  background-color: #894502;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.hairColorPicker-blonde {
  float: left;
  height: 6vh;
  width: 6vh;
  background-color: #cdab21;
  border: none;
  cursor: pointer;
  border-radius: 3vh;
  margin-right: 10px;
}

.hairColorPicker-ginger {
  float: left;
  height: 6vh;
  width: 6vh;
  background-color: #d56e1c;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
  cursor: pointer;
}

.editHairStyleContainer {
  position: absolute;
  color: white;
  top: 27vh;
  right: 2vw;
  padding-left: 2vw;
  height: 10vh;
  width: 52vw;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 102;
  border-radius: 5vh;
  font-size: 4vh;
}
.blank-black-button {
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 5.9vh;
  background-image: url("default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}
.blank-blonde-button {
  float: left;
  height: 6vh;
  width: 5.9vh;
  cursor: pointer;
  background-image: url("default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}
.blank-blank-button {
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 5.9vh;
  background-image: url("default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}
.blank-brown-button {
  float: left;
  height: 6vh;
  width: 5.9vh;
  cursor: pointer;
  background-image: url("default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}
.blank-ginger-button {
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 5.9vh;
  background-image: url("default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}
.long-black-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/long-black-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.long-curly-black-button {
  float: left;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
  background-image: url("./hair/long-curly-black-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.medium-black-button {
  float: left;
  height: 8vh;
  width: 8vh;
  background-image: url("./hair/medium-black-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  cursor: pointer;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.medium-curly-black-button {
  float: left;
  height: 8vh;
  width: 8vh;
  background-image: url("./hair/medium-curly-black-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  cursor: pointer;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.short-black-button {
  float: left;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  background-image: url("./hair/short-black-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.short-curly-black-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/short-curly-black-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.long-brown-button {
  float: left;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  background-image: url("./hair/long-brown-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.long-curly-brown-button {
  float: left;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  background-image: url("./hair/long-curly-brown-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.medium-brown-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/medium-brown-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.medium-curly-brown-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/medium-curly-brown-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.short-brown-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/short-brown-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.short-curly-brown-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/short-curly-brown-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.long-blonde-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/long-blonde-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.long-curly-blonde-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/long-curly-blonde-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.medium-blonde-button {
  float: left;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  background-image: url("./hair/medium-blonde-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.medium-curly-blonde-button {
  float: left;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
  background-image: url("./hair/medium-curly-blonde-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.short-blonde-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/short-blonde-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.short-curly-blonde-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/short-curly-blonde-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  position: relative;
  bottom: 1vh;
  left: 1vh;
}
.long-ginger-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/long-ginger-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.long-curly-ginger-button {
  float: left;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
  background-image: url("./hair/long-curly-ginger-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.medium-ginger-button {
  float: left;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  background-image: url("./hair/medium-ginger-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.medium-curly-ginger-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./hair/medium-curly-ginger-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.short-ginger-button {
  float: left;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  background-image: url("./hair/short-ginger-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.short-curly-ginger-button {
  float: left;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
  background-image: url("./hair/short-curly-ginger-hair.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-color: transparent;
  position: relative;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
  bottom: 1vh;
  left: 1vh;
}
.long-blank-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-color: transparent;

  border: none;

  border-radius: 3vh;

  margin-right: 8px;
  position: relative;
  bottom: 1vh;
  left: 1vh;
}

.long-curly-blank-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-color: transparent;

  border: none;

  border-radius: 3vh;

  margin-right: 8px;
  position: relative;
  bottom: 1vh;
  left: 1vh;
}
.medium-blank-button {
  float: left;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  background-color: transparent;

  border: none;

  border-radius: 3vh;

  position: relative;
  bottom: 1vh;
  left: 1vh;
  margin-right: 8px;
}

.medium-curly-blank-button {
  float: left;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
  background-color: transparent;

  border: none;

  position: relative;
  bottom: 1vh;
  left: 1vh;
  border-radius: 3vh;

  margin-right: 8px;
}

.short-blank-button {
  float: left;
  position: relative;
  bottom: 1vh;
  left: 1vh;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  background-color: transparent;

  border: none;

  border-radius: 3vh;

  margin-right: 8px;
}

.short-curly-blank-button {
  float: left;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
  position: relative;
  bottom: 1vh;
  left: 1vh;
  background-color: transparent;

  border: none;

  border-radius: 3vh;

  margin-right: 8px;
}

.editShirtContainer {
  position: absolute;
  color: white;
  top: 34vh;
  right: 2vw;
  padding-top: 3vh;
  padding-left: 2vw;
  height: 10vh;
  width: 52vw;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 102;
  border-radius: 5vh;
  font-size: 4vh;
}

.blank-shirt-button {
  float: left;
  position: relative;
  cursor: pointer;
  top: 2vh;
  height: 6vh;
  width: 6vh;
  margin-top: 8px;
  background-image: url("./default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
}

.lavender-shirt-button {
  float: left;
  position: relative;
  top: 1vh;
  left: 1vh;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  background-image: url("./shirts/lavender-shirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
}

.light-blue-shirt-button {
  float: left;
  cursor: pointer;
  height: 8vh;
  position: relative;
  top: 1vh;
  left: 1vh;
  width: 8vh;
  background-image: url("./shirts/light-blue-shirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
}

.mit-shirt-button {
  float: left;
  cursor: pointer;
  height: 8vh;
  width: 8vh;
  background-image: url("./shirts/mit-shirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  position: relative;
  top: 1vh;
  left: 1vh;
  margin-right: 8px;
}

.navy-shirt-button {
  float: left;
  height: 8vh;
  cursor: pointer;
  width: 8vh;
  position: relative;
  top: 1vh;
  left: 1vh;
  background-image: url("./shirts/navy-shirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
}

.pink-shirt-button {
  float: left;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
  background-image: url("./shirts/pink-shirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: relative;
  top: 1vh;
  left: 1vh;
  border-radius: 3vh;
  margin-right: 8px;
}

.sage-shirt-button {
  float: left;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
  position: relative;
  top: 1vh;
  left: 1vh;
  background-image: url("./shirts/sage-shirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
}

.white-shirt-button {
  float: left;
  height: 8vh;
  position: relative;
  top: 1vh;
  left: 1vh;
  cursor: pointer;
  width: 8vh;
  background-image: url("./shirts/white-shirt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 8px;
}

.white-highlight-shirt-lavender {
  position: relative;
  right: 0.7vh;
  top: 1vh;
  float: left;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-shirt-mit {
  position: relative;
  right: 0.7vh;
  top: 1vh;
  float: left;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-shirt-white {
  position: relative;
  right: 0.7vh;
  top: 1vh;
  float: left;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-shirt-navy {
  position: relative;
  right: 0.7vh;
  top: 1vh;
  float: left;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-shirt-light-blue {
  position: relative;
  right: 0.7vh;
  top: 1vh;
  float: left;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-shirt-sage {
  position: relative;
  right: 0.7vh;
  top: 1vh;
  float: left;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-shirt-pink {
  position: relative;
  right: 0.7vh;
  top: 1vh;
  float: left;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-shirt-blank {
  float: left;
  height: 5.4vh;
  width: 5.4vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.editHatContainer {
  position: absolute;
  color: white;
  top: 47vh;
  right: 2vw;
  padding-left: 2vw;
  height: 10vh;
  width: 52vw;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 102;
  border-radius: 5vh;
  font-size: 4vh;
}

.hat-blank-button {
  float: left;
  height: 6vh;
  cursor: pointer;
  position: relative;
  width: 5.9vh;
  background-image: url("default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.hat-laconic-button {
  float: left;
  position: relative;
  left: 1vh;
  height: 12vh;
  width: 10vh;
  cursor: pointer;
  background-image: url("./accessories/hat-laconic.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.hat-scribe-button {
  float: left;
  position: relative;
  top: 0.4vh;
  height: 12vh;
  cursor: pointer;
  width: 10vh;
  left: 1vh;
  background-image: url("./accessories/hat-scribe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.hat-novelist-button {
  float: left;
  position: relative;
  height: 12vh;
  left: 1vh;
  cursor: pointer;
  width: 10vh;
  top: 1vh;
  background-image: url("./accessories/hat-novelist.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.hat-amiable-button {
  float: left;
  position: relative;
  height: 15vh;
  cursor: pointer;
  width: 13vh;
  top: 1vh;
  background-image: url("./accessories/hat-amiable.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 0px;
}

.hat-socialite-button {
  float: left;
  cursor: pointer;
  position: relative;
  height: 15vh;
  right: 2.4vh;
  width: 13vh;
  background-image: url("./accessories/hat-socialite.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}
.white-highlight-hat-laconic {
  position: relative;
  bottom: 3vh;
  float: left;
  left: 0.5vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.white-highlight-hat-scribe {
  position: relative;
  bottom: 3vh;
  float: left;
  left: 1vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.white-highlight-hat-novelist {
  position: relative;
  bottom: 3.5vh;
  float: left;
  left: 1vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.white-highlight-hat-amiable {
  position: relative;
  bottom: 5vh;
  float: left;
  left: 1.5vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.white-highlight-hat-socialite {
  position: relative;
  bottom: 4vh;
  float: left;
  left: 1.5vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.white-highlight-hat-blank {
  float: left;
  position: relative;
  right: 0.2vh;
  cursor: pointer;
  height: 5.5vh;
  bottom: 0.1vh;
  width: 5.5vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.disabled-button {
  float: left;
  position: relative;
  left: 1vh;
  height: 6vh;
  cursor: pointer;
  width: 5.9vh;
  background-image: url("./accessories/locked-accessory.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-left: 10px;
  cursor: default;
  margin-right: 20px;
}

.editGlassesContainer {
  position: absolute;
  color: white;
  top: 57vh;
  right: 2vw;
  padding-left: 2vw;
  height: 10vh;
  width: 52vw;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 102;
  border-radius: 5vh;
  font-size: 4vh;
}

.glasses-blank-button {
  float: left;
  position: relative;
  height: 6vh;
  cursor: pointer;
  width: 5.9vh;
  background-image: url("default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.glasses-novice-button {
  float: left;
  position: relative;
  height: 12vh;
  bottom: 1vh;
  cursor: pointer;
  width: 10vh;
  left: 1vh;
  background-image: url("./accessories/glasses-novice.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.glasses-reporter-button {
  float: left;
  position: relative;
  height: 12vh;
  bottom: 1vh;
  cursor: pointer;
  width: 10vh;
  left: 1vh;
  background-image: url("./accessories/glasses-reporter.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.glasses-dreamer-button {
  float: left;
  position: relative;
  height: 12vh;
  bottom: 1vh;
  cursor: pointer;
  width: 10vh;
  left: 1vh;
  background-image: url("./accessories/glasses-dreamer.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.glasses-visionary-button {
  float: left;
  position: relative;
  height: 12vh;
  bottom: 1vh;
  cursor: pointer;
  width: 10vh;
  left: 1vh;
  background-image: url("./accessories/glasses-visionary.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}
.white-highlight-glasses-blank {
  float: left;
  position: relative;
  right: 0.2vh;
  cursor: pointer;
  height: 5.5vh;
  bottom: 0.1vh;
  width: 5.5vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.white-highlight-glasses-novice {
  position: relative;
  bottom: 1.5vh;
  float: left;
  left: 0.6vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.white-highlight-glasses-reporter {
  position: relative;
  bottom: 1.5vh;
  float: left;
  left: 0.6vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.white-highlight-glasses-dreamer {
  position: relative;
  bottom: 1.5vh;
  float: left;
  left: 0.6vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
.white-highlight-glasses-visionary {
  position: relative;
  bottom: 1.5vh;
  float: left;
  left: 0.6vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.editNeckContainer {
  position: absolute;
  color: white;
  top: 67vh;
  right: 2vw;
  padding-left: 2vw;
  height: 10vh;
  width: 52vw;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 102;
  border-radius: 5vh;
  font-size: 4vh;
}

.neck-blank-button {
  float: left;
  height: 6vh;
  cursor: pointer;
  width: 5.9vh;
  background-image: url("default-none.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.neck-classifier-button {
  float: left;
  position: relative;
  height: 12vh;
  bottom: 4vh;
  cursor: pointer;
  width: 10vh;
  left: 1vh;
  background-image: url("./accessories/neck-classifier.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.neck-cataloguer-button {
  float: left;
  position: relative;
  height: 12vh;
  bottom: 4vh;
  cursor: pointer;
  width: 10vh;
  left: 1vh;
  background-image: url("./accessories/neck-cataloguer.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.neck-multifaceted-button {
  float: left;
  position: relative;
  height: 12vh;
  bottom: 4vh;
  cursor: pointer;
  width: 10vh;
  left: 1vh;
  background-image: url("./accessories/neck-multifaceted.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  border-radius: 3vh;
  margin-right: 10px;
}

.white-highlight-neck-classifier {
  position: relative;
  top: 1vh;
  float: left;
  left: 0.6vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.white-highlight-neck-cataloguer {
  position: relative;
  top: 1vh;
  float: left;
  left: 0.6vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}

.white-highlight-neck-multifaceted {
  position: relative;
  top: 1vh;
  float: left;
  left: 0.6vh;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 3.5vh;
  margin-right: 10px;
}
